/* Сброс базовых отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MC_font';
    src: url('../fonts/MC_font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'MC_font', Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    max-width: 1552px;
    height: 90px;
    margin: 0 auto;
    background-color: #e0e0e0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* Flexbox для центрирования текста */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Настройки текста */
    font-family: 'MC_font', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
}

/* Круг в шапке */
.header__circle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;

    /* Позиционирование */
    position: absolute;
    left: 1634px;
    top: 20px;
}

/* Кнопка-иконка */
.header__icon-button {
    position: absolute;           
    left: 1698px;                 
    top: 32px;                    
    width: 16px;           
    height: 26px;    
    color: #000000;

    /* Сбрасываем стандартные стили кнопки */
    background: none;
    border: none;
    padding: 0;
    
    /* Отладка хитбокса*/
    /* background-color: rgba(0, 255, 0, 0.2); полупрозрачный зелёный для видимости хитбокса */
}

/* Сама иконка внутри кнопки */
.header__icon {
    display: block;               /* убираем лишние отступы */
    width: 16px;                  /* размер иконки = хитбокс */
    height: 26px;
    fill: currentColor;           /* иконка будет наследовать цвет от кнопки */
}