/* Сброс базовых отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Заголовки */
@font-face {
    font-family: 'MC_caps';
    src: url('../fonts/MC_caps.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Специфика */
@font-face {
    font-family: 'MC_def';
    src: url('../fonts/MC_def.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Основной */
@font-face {
    font-family: 'SF_def';
    src: url('../fonts/SF_def.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Вся страница */
body {
    font-family: 'SF_def', Arial, sans-serif; /* основной шрифт интерфейса */
    background-color: #f5f5f5;
}