/* =========================== Выпадающее меню профиля ========================== */

.dropdown-profile {
    position: absolute;
    top: 100%;
    right: 56px;
    width: 290px;
    margin-top: 10px;
    z-index: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.07);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.1s ease;
}

.dropdown-profile--hidden {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Компактная версия для гостя */
.dropdown-profile--guest {
    width: 290px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.07);
}

.dropdown-profile__list {
    margin: 0;
    padding: 8px 0;
    list-style: none;
}

.dropdown-profile__item {
    padding: 0;
}

.dropdown-profile__item--title {
    padding: 10px 16px 10px;
    cursor: default;
    user-select: none;
    text-align: center;
    font-family: 'SF_def', Arial, sans-serif;
    font-size: 18px;
    color: #555;
}

.dropdown-profile__item--info {
    padding: 3px 15px;
    cursor: default;
    user-select: none;
    font-family: 'SF_def', Arial, sans-serif;
    font-size: 14px;
    color: #999;
}

.dropdown-profile__badge {
    min-width: 14px;
    margin-right: 5px;
    text-align: right;
    font-family: 'MC_caps', Arial, sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 200);
}

.dropdown-profile__badge--empty {
    color: #999;
}

.dropdown-profile__divider {
    width: 90%;
    height: 1px;
    margin: 6px auto;
    background: #E0E0E0;
}

.dropdown-profile__link {
    display: block;
    padding: 5px 15px;
    font-family: 'MC_caps';
    font-size: 14px;
    color: #333;
    text-decoration: none;
    transition: background 0.2s ease;
}

.dropdown-profile__link:hover {
    background: rgba(100, 100, 200, 0.075);
}

.dropdown-profile__link--logout {
    color: rgb(100, 100, 200);
}

.dropdown-profile__item--guest {
    padding: 1px 16px;
    cursor: default;
    text-align: center;
    line-height: 1.5;
    font-family: 'SF_def', Arial, sans-serif;
    font-size: 14px;
    color: #999;
}
