/* =========================== Верхняя панель ================================================================================= */

/* Верхняя панель */
.header {
    width: 90%;
    height: 90px;
    margin: 0 auto;
    background-color: #e0e0e0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* Flexbox для центрирования текста */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Настройки текста */
    font-family: 'MC_caps', Arial, sans-serif;
    font-size: 16px;
    color: #000000;

    /* Абсолютное позиционирования внутри */
    position: relative;
}

/* --------------------------- Профиль --------------------------------------------------------------------------------- */

/* Профиль, кнопка */
.header__profile-button {
    position: absolute;
    right: 60px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    /* Сброс стандартных стилей кнопки */
    background-color: #ffffff;
    border: none;
    padding: 0;

    /* Центрируем содержимое (иконку) по умолчанию */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для изображения внутри кнопки */
.header__profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Стили для иконки-заглушки (SVG) */
.header__profile-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
    fill: #000000;
}

/* --------------------------- Профиль, настройки --------------------------------------------------------------------------------- */

/* Кнопка настроек */
.header__prof_settings-button {
    width: 16px;
    height: 26px;
    color: #000000;

    /* Позиционирование (относительно header) */
    position: absolute;
    right: 20px;
    top: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* Сбрасываем стандартные стили кнопки */
    background: none;
    border: none;
    padding: 0;
}

/* Кнопка настроек, иконка */
.header__prof_settings-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
    fill: #000000;
}